<div class="container py-5 mt-5">
   <div class="row d-flex justify-content-center g-4">
        <div class="col-lg-3 col-md-4" *ngFor="let category of allCategory">
           <div class="card"  role="button"  [routerLink]="['/categoryDetails', category._id]">
            <div class="card-body">
              <img loading="lazy" height="300" class="card-img-top" [src]="category.image" [alt]="category.name"/>
              <h3 class="h6 text-main text-center pt-3">{{ category.name }}</h3>
            </div>
           </div>
        </div>
   </div>
</div>

