<section class="p-4 bg-main-light">
  <div class="container-fluid">
    <div class="title">
      <h5>Get The FreshCart App</h5>
      <p class=" text-secondary">
        We Will Send You a Link,open it on Your Phone
      </p>
    </div>

    <div class="footer-info mx-4">
      <div class="form-item d-flex gap-4">
        <input
          type="text"
          class="form-control flex-grow-1"
          placeholder="Email..."
        />
        <button class="main-btn px-3 flex-shrink-0">Share App Link</button>
      </div>

      <hr class="border-secondary" />

      <div class="copy-right">
        <h6 class="text-center">&copy; 2023 Nada Ayman , All Rights Reserved</h6>
      </div>
    </div>
  </div>
</section>
