.product .icon{
  opacity: 0;
  transition: all 0.3s;
  top:20px;
  right: 10px;
}
.product:hover .icon{
  opacity: 1;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
