<div class="container py-5 mt-5">
  <div class="bg-main-light p-5 shadow rounded-4">
       <div class="row d-flex align-items-center">
          <div class="col-lg-4">
            <div class="image">
                <img [src]="CategoryDetails.image" alt="" class="w-100">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="data">
              <h3>{{CategoryDetails.name}}</h3>
              <h4>Sub Categories:</h4>
              <span
                class="badge bg-secondary me-3"
                *ngFor="let subCat of subCategory">
                {{ subCat.name }}
              </span>
            </div>
          </div>
       </div>
  </div>
</div>
