<div class="container py-5 mt-5">
  <h3 class="mb-3 w-75 m-auto">Login Now:</h3>

  <div class="alert alert-danger mx-auto w-75" *ngIf="apiError">
    {{apiError}}
</div>
  <form class="w-75 m-auto" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
     <div class="mb-2">
        <label for="email" class="mb-2">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter Your Email">
        <div class="alert alert-danger" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
          <p class="mb-0" *ngIf="loginForm.get('email')?.getError('required') ">This field is required</p>
          <p class="mb-0" *ngIf="loginForm.get('email')?.getError('email')">Email is not valid</p>
     </div>
     </div>
     <div class="mb-2">
        <label for="password" class="mb-2">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" placeholder="Enter a Password">
        <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
          <p class="mb-0" *ngIf="loginForm.get('password')?.getError('required') ">This field is required</p>
          <p class="mb-0" *ngIf="loginForm.get('password')?.getError('pattern')">Email is not valid</p>
     </div>
     </div>

     <button class="btn bg-main text-white ms-auto d-flex" *ngIf="isloader">
      <i  class="fa fa-spinner fa-spin"></i>
     </button>
     <button class="btn bg-main text-white my-3 ms-auto d-block"  *ngIf="!isloader" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>

