<div class="container py-5 mt-5">
  <div class="bg-main-light py-4 px-3 my-4 shadow rounded-4 mx-auto">
  <h3 class="mb-3 text-center">Forget Password</h3>

  <form  #form1 *ngIf="first" [formGroup]="forgetPassword" (ngSubmit)="ForgetPassword(forgetPassword)">
    <div class="mb-2">
       <label for="email" class="mb-2">Email</label>
       <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter Your Email">
       <div class="alert alert-danger" *ngIf="forgetPassword.get('email')?.errors && forgetPassword.get('email')?.touched">
         <p class="mb-0" *ngIf="forgetPassword.get('email')?.getError('required') ">This field is required</p>
         <p class="mb-0" *ngIf="forgetPassword.get('email')?.getError('email')">Email is not valid</p>
    </div>
    </div>
    <button class="btn bg-main text-white ms-auto d-flex" *ngIf="isloader">
     <i  class="fa fa-spinner fa-spin"></i>
    </button>
    <button class="btn bg-main text-white my-3 w-100"  *ngIf="!isloader" [disabled]="forgetPassword.invalid">Next</button>

    <div class="alert alert-danger w-50 mx-auto text-center my-3" *ngIf="errMsg">
      {{errMsg}}
   </div>
 </form>

  <form  #form2 *ngIf="seconde" [formGroup]="verifyCode" (ngSubmit)="handleVerifyResetCode(verifyCode)">
    <div class="mb-2">
      <label for="resetCode" class="mb-2">Reset Code:</label>
      <input
        type="text"formControlName="resetCode" class="form-control" placeholder="Your Reset Code..."/>
       <div class="alert alert-danger" *ngIf="verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched">
         <p class="mb-0" *ngIf="verifyCode.get('resetCode')?.getError('required') "> resetCode is required</p>
         <p class="mb-0" *ngIf="verifyCode.get('resetCode')?.getError('pattern')">must be at 6 chars</p>
    </div>
    </div>
    <button class="btn bg-main text-white ms-auto d-flex" *ngIf="isloader">
     <i  class="fa fa-spinner fa-spin"></i>
    </button>
    <button class="btn bg-main text-white my-3 w-100"  *ngIf="!isloader" [disabled]="verifyCode.invalid">Next</button>
    <div class="alert alert-danger w-50 mx-auto text-center my-3" *ngIf="errMsg">
      {{errMsg}}

    </div>
 </form>


  <form  #form3 *ngIf="done" [formGroup]="resetPassword" (ngSubmit)="handleResetPassword(resetPassword)">
    <div class="mb-2">
      <label for="email" class="mb-2">Email:</label>
      <input
        type="email" formControlName="email" class="form-control" placeholder="Your Email..." />
       <div class="alert alert-danger" *ngIf="resetPassword.get('email')?.errors && resetPassword.get('email')?.touched">
         <p class="mb-0" *ngIf="resetPassword.get('email')?.getError('required') "> Email is required</p>
         <p class="mb-0" *ngIf="resetPassword.get('resetCode')?.getError('email')">  Email InValid Format</p>
    </div>
    </div>
    <div class="mb-2">
      <label for="newPass" class="mb-2">newPassword:</label>
      <input
        type="password" formControlName="newPassword" class="form-control" for="newPass" placeholder="Your New Password..." />
       <div class="alert alert-danger" *ngIf="verifyCode.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched">
         <p class="mb-0" *ngIf="resetPassword.get('email')?.getError('required') ">  New Password Is Required</p>
         <p class="mb-0" *ngIf="resetPassword.get('resetCode')?.getError('pattern')">  Must be at least 6 chars</p>
    </div>
    </div>
    <button class="btn bg-main text-white ms-auto d-flex" *ngIf="isloader">
     <i  class="fa fa-spinner fa-spin"></i>
    </button>
    <button class="btn bg-main text-white my-3 w-100"  *ngIf="!isloader" [disabled]="verifyCode.invalid">Next</button>

    <div class="alert alert-danger w-50 mx-auto text-center my-3" *ngIf="errMsg">
      {{errMsg}}
  </div>
  </form>




</div>
</div>

