<div class="py-5 mt-5">
  <section class="bg-main-light w-75 mx-auto rounded shadow p-3">
    <h1 class="h4 text-center">Update User Password</h1>

    <form
      class="vstack gap-3 w-75 mx-auto"
      [formGroup]="updateForm"
      (ngSubmit)="handleUpdate()"
    >
      <div class="form-item">
        <label for="currentPassword">Current Password:</label>
        <div class="position-relative">
          <input
            #cupass
            formControlName="currentPassword"
            id="currentPassword"
            type="password"
            class="form-control"
            placeholder="Your Current Password...."
          />
          <span
            (click)="
              curentPasswordShow = true;
              curentPasswordShow == true
                ? (cupass.type = 'text')
                : (cupass.type = 'password')
            "
            [ngClass]="{
              'd-none': curentPasswordShow
            }"
            role="button"
            class="position-absolute top-50 end-0 translate-middle-y me-2"
          >
            <i class="fas fa-eye"></i>
          </span>

          <span
            (click)="
              curentPasswordShow = false;
              curentPasswordShow == false
                ? (cupass.type = 'password')
                : (cupass.type = 'text')
            "
            [ngClass]="{
              'd-none': !curentPasswordShow
            }"
            role="button"
            class="position-absolute top-50 end-0 translate-middle-y me-2"
          >
            <i class="fas fa-eye-slash"></i>
          </span>
        </div>

        <ng-container *ngIf="updateForm.get('currentPassword')?.errors && updateForm.get('currentPassword')?.touched"  >
          <p
            class="alert alert-danger w-50 mx-auto p-1 mb-0"
            *ngIf="updateForm.get('currentPassword')?.getError('required')"
          >
            Curent Password Is Required
          </p>
          <p
            class="alert alert-danger w-50 mx-auto p-1 mb-0"
            *ngIf="updateForm.get('currentPassword')?.getError('pattern')"
          >
            Must be at least 6 chars
          </p>
        </ng-container>
      </div>

      <div class="form-item">
        <label for="password">Password:</label>

        <div class="position-relative">
          <input
            #pass
            formControlName="password"
            id="password"
            type="password"
            class="form-control"
            placeholder="Your Password...."
          />
          <span
            (click)="
              passwordShow = true;
              passwordShow == true
                ? (pass.type = 'text')
                : (pass.type = 'password')
            "
            [ngClass]="{
              'd-none': passwordShow
            }"
            role="button"
            class="position-absolute top-50 end-0 translate-middle-y me-2"
          >
            <i class="fas fa-eye"></i>
          </span>

          <span
            (click)="
              passwordShow = false;
              passwordShow == false
                ? (pass.type = 'password')
                : (pass.type = 'text')
            "
            [ngClass]="{
              'd-none': !passwordShow
            }"
            role="button"
            class="position-absolute top-50 end-0 translate-middle-y me-2"
          >
            <i class="fas fa-eye-slash"></i>
          </span>
        </div>
        <ng-container *ngIf="updateForm.get('password')?.errors && updateForm.get('password')?.touched"  >
          <p
            class="alert alert-danger w-50 mx-auto p-1 mb-0"
            *ngIf="updateForm.get('password')?.getError('required')"
          >
          Password Is Required
          </p>
          <p
            class="alert alert-danger w-50 mx-auto p-1 mb-0"
            *ngIf="updateForm.get('password')?.getError('pattern')"
          >
            Must be at least 6 chars
          </p>
        </ng-container>
      </div>

      <div class="form-item">
        <label for="rePassword">RePassword:</label>
        <div class="position-relative">
          <input
            #repass
            formControlName="rePassword"
            id="rePassword"
            type="Password"
            class="form-control"
            placeholder="Confirm Password...."
          />

          <span
            (click)="
              rePasswordShow = true;
              rePasswordShow == true
                ? (repass.type = 'text')
                : (repass.type = 'password')
            "
            [ngClass]="{
              'd-none': rePasswordShow
            }"
            role="button"
            class="position-absolute top-50 end-0 translate-middle-y me-2"
          >
            <i class="fas fa-eye"></i>
          </span>

          <span
            (click)="
              rePasswordShow = false;
              rePasswordShow == false
                ? (repass.type = 'password')
                : (repass.type = 'text')
            "
            [ngClass]="{
              'd-none': !rePasswordShow
            }"
            role="button"
            class="position-absolute top-50 end-0 translate-middle-y me-2"
          >
            <i class="fas fa-eye-slash"></i>
          </span>
        </div>

        <ng-container *ngIf="updateForm.get('rePassword')?.errors && updateForm.get('rePassword')?.touched"  >
          <p
            class="alert alert-danger w-50 mx-auto p-1 mb-0"
            *ngIf="updateForm.get('rePassword')?.getError('required')"
          >
          RePassword Is Required
          </p>
          <p
            class="alert alert-danger w-50 mx-auto p-1 mb-0"
            *ngIf="updateForm.get('rePassword')?.getError('pattern')"
          >
            Must be at least 6 chars
          </p>
        </ng-container>

      </div>

      <button
        *ngIf="!isLoading"
        type="submit"
        [disabled]="updateForm.invalid"
        class="main-btn ms-auto"
      >
        <span>Change</span>
      </button>

      <button *ngIf="isLoading" type="button" disabled class="main-btn ms-auto">
        <span> <i class="fas fa-spinner fa-spin"></i> </span>
      </button>

      <p
        class="alert alert-danger text-center w-50 mx-auto mb-0 p-1 mt-3"
        *ngIf="errMsg"
      >
        {{ errMsg }}
      </p>
    </form>
  </section>

</div>
