<div class="container py-5 mt-4">
  <div class="row g-0">
     <div class="col-md-9">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="./assets/images/slider-image-1.jpeg" style="height: 400px;" class="w-100" alt="">
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/images/slider-image-2.jpeg" style="height: 400px;" class="w-100" alt="">
        </ng-template>
        <ng-template carouselSlide>
          <img src="./assets/images/slider-image-3.jpeg" style="height: 400px;" class="w-100" alt="">
        </ng-template>
      </owl-carousel-o>
     </div>
     <div class="col-md-3">
        <img src="./assets/images/slider-2.jpeg" style="height: 200px;" class="w-100" alt="">
        <img src="./assets/images/grocery-banner-2.jpeg" style="height: 200px;" class="w-100" alt="">
     </div>
  </div>
</div>
